body {
    font-family: Segoe UI Variable Static Text, Segoe UI, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

html {
    font-family: Segoe UI Variable Static Text, Segoe UI, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    --paper-font-common-base_-_font-family: Segoe UI Variable Static Text, Segoe UI, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
